<h1>All Comments!</h1>
<div class="container">
Town Name: <%= @review.town.formatted_name %><br><br>
Review :<%= @review.content %><br><br>
Comments:
<br><br><%= empty_variable_message %>
<ul>
  <% @comments.each do |c| %>
    <li><%= c.content %><br> By: <%= c.user.name %></li><br><br>
  <% end %>
  <%= link_to "Add a Comment", new_review_comment_path(@review) %>
</ul>
</div>