<h2>Comment Show</h2>

Review: <%= @comment.review.content %><br><br>

Your Comment: <%= @comment.content %><br><br>
<%= link_to "All Comments", review_comments_path(@comment.review_id) %>
<%= link_to "Edit Comment", edit_comment_path(@comment) %>
<%= link_to "Delete Comment", comment_path(@comment), method: :delete %>