<h1>Sign up!</h1>

<%= form_for(@user, url:'/signup') do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :email %>
  <%= f.email_field :email, required:true %>
  <br><br>
  <%= f.label :password %>
  <%= f.password_field :password, required:true %>
  <br><br>
  <%= f.submit "Submit" %>
<% end %>
