<div class="header"><h2>Edit Review</h2></div>

<div class="wrapper">
<%= form_for @review do |f| %>
    <%= f.label :review %>:<br>
    <%= f.text_area :content, size: "50x10" %>
    <br></br>
    <%= f.submit%>
<% end %>
<%= link_to "Delete Review", review_path(@review), method: :delete %>
</div>
