<div class="header"><h1>All Reviews</h1></div>
<br>
  <br>
  <div class="wrapper">
  
  <% if @reviews.empty? %>
  There doesn't seem to be any reviews for <%= @town.formatted_name %>
  To be the first to review it click  <%= link_to "here",  new_town_review_path(@town) %> 
  <% else %>
  <ul>
  <% @reviews.each do |r| %>
    <li><%= r.town.formatted_name %><br><%= r.content %><br>By: <%= r.user.name %><br>reviewed on: <%= r.created_at_date_time %><br>
    <%= link_to "See All Comments", review_comments_path(r) %> or 
    <%= link_to "Leave a Comment", new_review_comment_path(r) %><br></li>
    <% if current_user.id == r.user.id %>
    <%= link_to "Edit Review", edit_review_path(r) %>
    <% end %><br><br>
    <% end %>
    <% end %>
</ul>
</div>
