<h1>Create a new Review</h1>

<%= form_for (@review) do |f| %>

  <%= f.label "Select a town to Review:" %>
  <%= f.collection_select :town_id, Town.all, :id, :name, include_blank: true %>
  Need to add State somehow
  <br>
    <br>

   <h3>Or create a new Town:</h3>
   <p><%= f.fields_for :town do |t|%>
     <%= t.label :name %>
     <%= t.text_field :name, include_blank: true %>

     <%= t.label :state %>
     <%= t.text_field :state, include_blank: true %><br>
  </p>

  <% end %>

  <br>
    </br>
  <%= f.label :review %>
  <br>
  <%= f.text_area :content, size: "50x10" %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>
