<div class="header"><h1>Create a Review</h1></div>

<div class="wrapper">
<%= render partial: "layouts/errors", locals: { object: @review } %>

<%= form_for [@town, @review] do |f| %>
  <%= f.hidden_field :town_id, value: @town.id %>
  <%= town_name_option(f) %>
   <br>
    </br>
  <%= f.label :review %>
  <br>
  <%= f.text_area :content, size: "50x10" %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>
</div>
