<h1>Show page</h1>

<div><%= @review.town.formatted_name %>
  <br>
   <br>
  <%= @review.content%><br><br>
  <%= link_to "Edit Review", edit_review_path(@review) %>
  <%= link_to "Delete Review", review_path(@review, @town), method: :delete %>
  <%= link_to "All Reviews", reviews_path %>
</div>
