<!DOCTYPE html>
<html>
  <head>
    <title>SmallTownSleuth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "logout", logout_path, method: "delete" %> |
      <%= link_to "New Town", new_town_path %>
    </nav><br><br>
    <%= yield %>
  </body>
</html>
