<!DOCTYPE html>
<html>
  <head>
    <title>SmallTownSleuth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="topnav">
      <% if logged_in? %>
      <%= link_to "logout", logout_path, method: "delete" %> |
      <%= link_to "My Page", user_path(current_user) %> |
      <%= link_to "Create A Review", new_review_path %> |
      <%= link_to "Reviewed Towns list", towns_path %>
      
      <% end %>
    </nav><br><br>
    <%= yield %>
  </body>
</html>
